<html ng-app="TodoApp">
<head>
  <script src="../lib/angular.min.js"></script>
  <script src="todo_ctrl.js"></script>
</head>
<body>

<div class="page-container" ng-controller="TodoCtrl">
    <input type="text" ng-model="message" />
    <span> {{ message }} </span>

    <h2>Todo</h2>

      <ul class="todo-list" >
        <li ng-repeat="todo in todos track by $index">
          <span>{{ todo.name }}</span>
          <button class="bt bt-achieve" ng-click="done(todo)">Done</button>
        </li>
      </ul>

      <ul class="add-todo">
        <li>
          <input type="text" class="txt" placeholder="New Todo"
                 ng-model="newTodo" ng-keyup="add($event)" />
        </li>
      </ul>
</div>

</body>
</html>