<html ng-app="TodoApp">
<head>
  <script src="../lib/angular.min.js"></script>
  <script src="todo_ctrl.js"></script>
</head>
<body>

<div class="page-container" ng-controller="TodoCtrl">
    <input type="text" ng-model="message" />
    <span> {{ message }} </span>

    <h2>Persons</h2>

      <ul class="person-list" >
        <li ng-repeat="person in persons track by $index">
          <span>{{ person.firstname }}</span>
          <button class="bt bt-achieve" ng-click="done(person)">Done</button>
        </li>
      </ul>

      <ul class="add-person">
        <li>
          <input type="text" class="txt" placeholder="New Person"
                 ng-model="newPerson" ng-keyup="add($event)" />
        </li>
      </ul>
</div>

</body>
</html>